@import url("https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext'");

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);

}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh;
  font-family: "Lato", sans-serif;
  //background: rgba(197, 255, 30, 0.76);
  background-image: url("../foto/fala2.png");
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

a {
  text-decoration: none;
  color: #333030;
}

.menuApp {
  width: 360px;
  height: 640px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}

.mobile-menu {
  width: 100%;
  background: #fbbb21;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

//.mobile-menu .open-menu {
//  background: url("https://upload.wikimedia.org/wikipedia/commons/b/b2/Hamburger_icon.svg");
//  background-size: contain;
//  background-repeat: no-repeat;
//  width: 32px;
//  height: 32px;
//  display: block;
//  color: transparent;
//}

//nav {
//  transition: 3s;
//}

.mobile-menu nav {
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  flex-direction: column;
  background-image: url("../foto/duck1.png");
  //background-color: black;
  background-size: cover;
  //width: 100%;
  //position: absolute;
}

.mobile-menu nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: -230px;
}

.mobile-menu nav a {
  display: inline-block;
  color: #524f4f;
  padding: 12px;
  //font-size: 1.4rem;
  font-weight: 700;
}

//.mobile-menu nav .close-menu {
//margin-top: 60px;
//text-decoration: none;
//font-size: 0.8rem;
//color: #fbbb21;
//border: 2px solid #fbbb21;
//padding: 8px 22px;
//border-radius: 8px;
//}

.mobile-menu nav.hide {
  display: none;
}

.menuAppJeden {
  width: 800px;
  height: 430px;
  background: white;
}

.backJeden {
  //font-size: 40px;
  //color: white;
  //border-radius: 30%;
  //margin-right: 10px;
  //margin-left: 600px;
  //margin-top: 100px;

  //  font-size: 30px;
  //  //color: white;
  //  //border-radius: 40%;
  //  //margin-right: 10px;
  margin-left: 490px;
  margin-top: 50px;
  //background: black;
  //color: gray;
  //  //border: 30px solid #64c8ff;
  font-size: 40px;
  border-radius: 30%;
  width: 135px;
  //margin-left: 420px;
  padding: 20px;
  border: 1px solid #8de4ff;
  background-color: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 1.3);

}

.menuAppJedenDiv {
  //width: 800px;
  //height: 500px;
  border-radius: 4px;
  //background: white;
  //box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.menuAppJeden-leftDiv {
  padding: 1px;
}

//.menuAppJeden-leftDiv div {
//  display: none;
//}

.menuAppJedenDiv > div {
  width: 380px;
  height: 290px;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexItem {
  //border: 3px solid black;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.menuAppJeden-rightDiv button {
  width: 75%;
  padding: 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 1);
}

.menuAppJedenP {
  display: flex;
  justify-content: center;
  //color: #524f4f;
  padding: 12px;
  font-size: 20px;
  font-weight: 700;
}

.menuAppJeden-rightDiv textarea {
  height: 70%;
  width: 100%;
}


.menuAppJeden-rightDiv input {
  height: 10%;
  width: 100%;
  //padding-left: 80px;
}

.paragraf {
  //margin-top: 15px;
  color: gray;
  text-align: center;
  font-size: 20px;
  //font-family: "Lato", sans-serif;
  padding: 10px;
  //border: 1px solid red;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
}

.menuAppDwa {
  width: 700px;
  height: 750px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
}

//.backDwa {
//  font-size: 40px;
//  color: white;
//  border-radius: 40%;
//  margin-right: 10px;
  //margin-left: 100px;
  //margin-top: 700px;
  //color: gray;
//}

.menuAppDwaRodzic {
  width: 680px;
  height: 450px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 30px;
  //display: flex;
  //flex-direction: row;
  //justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: row;
  //justify-content: space-around;
}

//.menuAppDwaRodzic div {
  //margin-top: 60px;
  //text-decoration: none;
  //width: 30%;
  //font-size: 2rem;
  //color: black;
  //border: 2px solid black;
  //padding: 8px 22px;
  //border-radius: 8px;
//}

.menuAppDwa input {
  width: 640px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 15px;
}

.menuAppDwa button {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  max-width: 100%;
  //margin-left: 50px;
  //margin-bottom: 50px;
  //align-items: center;
}

.box2{
  display: flex;
  flex-direction: column;
  width: 250px;


}

.menuAppDwa button:first-of-type {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  //margin-right: 20px;
  width: 200px;
  margin: 30px;
  height: 50px;
}

.menuAppDwa button:last-of-type {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-left: 130px;
  height: 30px;
  width: 100px;
  border: 1px solid #8de4ff;
}

.menuAppDwa p {
  font-size: 30px;
  margin: 35px;
  color: gray;
}

.menuAppDwa textarea {
  width: 450px;
  height: 250px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 20px;
  justify-content: center;
  font-size: 20px;
}

//.menuAppDwa :last-child {
  //border: 1px solid gray;
  //border-radius: 5px;
  //max-width: 50px;
  //margin-left: 300px;
//}

.menuAppTrzy {
  width: 560px;
  height: 470px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 30px;
  display: flex;
  //justify-content: space-between;
  //padding-right: 10px;
}

//.backTrzy {
//  display: none;
//  padding: 1px;
  //font-size: 40px;
  //background-color: black;
  //border-radius: 30%;
  //margin-right: 10px;
  //margin-left: 90px;
  //margin-top: 350px;
  //color: gray;
//}

.menuAppTrzyTree {
  width: 240px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  padding: 20px;

}

.sectionAppThreeRight {
  display: flex;
  flex-direction: column;
}

//.sectionAppThreeRight div {
//  font-size: 20px;
//}

.menuAppTrzy p {
  //display: inline-block;
  color: #524f4f;
  padding-left: 55px;
  font-size: 20px;
  //font-weight: 700;
}

.menuAppTrzy input {
  width: 230px;
  height: 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 5px;
  margin-left: 25px;
  font-size: 15px;
}

.sectionAppThreeRight button {
  width: 80px;
  height: 20px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  left: 150px;
  top: 15px;
}

.sectionAppThreeRight div {
  //margin-top: 15px;
  margin-top: 40px;
  margin-left: 25px;
  height: 210px;
  text-align: center;
  font-size: 20px;
  color: gray;
  //font-family: "Lato", sans-serif;
  padding: 10px;
  //border: 1px solid red;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
}

//.sectionAppThreeRight :last-child {
//  height: 300px;
//  border-radius: 5px;
//  font-size: 40px;
//box-shadow: 0 0 0 1px rgba(1, 1, 1, 0.5);
//padding: 30px;
//margin-top: 30px;
//font-size: 25px;
//}


.menuAppHepl {
  width: 800px;
  height: 520px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  //padding: 30px;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  //padding-right: 60px;
}

.menuAppHepl {
  background-image: url("../foto/duck.png");
}

.menuAppHepl p {
  font-size: 20px;
  color: white;
  //border: 1px solid #8de4ff;
  //background-color: white;
  //box-shadow: 0 0 8px 2px rgba(0, 0, 0, 1.3);
  //padding: 20px;
  //width: 180px;
  //border-radius: 40%;
  //margin-right: 10px;
  margin-left: 400px;
  margin-top: 50px;
  //font-size: 30px;
}

.backHelp {
//  font-size: 30px;
//  //color: white;
//  //border-radius: 40%;
//  //margin-right: 10px;
  margin-left: 890px;
  margin-top: 350px;
  //background: black;
  //color: gray;
//  //border: 30px solid #64c8ff;
  font-size: 40px;
  border-radius: 30%;
  width: 135px;
  //margin-left: 420px;
  padding: 20px;
  border: 1px solid #8de4ff;
  background-color: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 1.3);
}

//
//.backHelp {
//  color: gray;
//  margin: 300px;
//  border: 2px solid red;
//  font-size: 40px;
//  border-radius: 30%;
//  width: 80px;
//}

.active {
  //font-size: 40px;
  //border-radius: 30%;
  //width: 80px;
  //margin-left: 420px;
  //padding: 20px;
  //border: 1px solid #8de4ff;
  //background-color: white;
  //box-shadow: 0 0 8px 2px rgba(0, 0, 0, 1.3);
  //margin-top: 500px;
}
