@import url("https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext'");

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);

}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  //background-image: url("../foto/IMG_0297.jpg");
  background-color: black;
  background-size: cover;
  width: 100%;
  position: absolute;
}

a {
  text-decoration: none;
  color: #333030;
}

.menuApp {
  width: 360px;
  height: 640px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}

.mobile-menu {
  width: 100%;
  background: #fbbb21;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

//.mobile-menu .open-menu {
//  background: url("https://upload.wikimedia.org/wikipedia/commons/b/b2/Hamburger_icon.svg");
//  background-size: contain;
//  background-repeat: no-repeat;
//  width: 32px;
//  height: 32px;
//  display: block;
//  color: transparent;
//}

//nav {
//  transition: 3s;
//}

.mobile-menu nav {
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile-menu nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.mobile-menu nav a {
  display: inline-block;
  color: #524f4f;
  padding: 12px;
  //font-size: 1.4rem;
  font-weight: 700;
}

//.mobile-menu nav .close-menu {
//margin-top: 60px;
//text-decoration: none;
//font-size: 0.8rem;
//color: #fbbb21;
//border: 2px solid #fbbb21;
//padding: 8px 22px;
//border-radius: 8px;
//}

.mobile-menu nav.hide {
  display: none;
}

.menuAppJeden {
  width: 800px;
  height: 500px;
  background: white;
}

.backJeden {
  font-size: 20px;
  //color: white;
  border-radius: 30%;
  margin-right: 10px;
  margin-left: 830px;
  margin-top: 180px;

}

.menuAppJedenDiv {
  //width: 800px;
  //height: 500px;
  border-radius: 4px;
  //background: white;
  //box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.menuAppJeden-leftDiv {
  padding: 1px;
}

//.menuAppJeden-leftDiv div {
//  display: none;
//}

.menuAppJedenDiv > div {
  width: 380px;
  height: 290px;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuAppJeden-rightDiv button {
  width: 70%;
  padding: 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 1);
}

.menuAppJedenP {
  display: flex;
  justify-content: center;
  //color: #524f4f;
  padding: 12px;
  font-size: 20px;
  font-weight: 700;
}

.menuAppJeden-rightDiv textarea {
  height: 50%;
  width: 100%;
}


.menuAppJeden-rightDiv input {
  height: 30%;
  width: 100%;
}


.menuAppDwa {
  width: 700px;
  height: 850px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.backDwa {
  font-size: 20px;
  color: white;
  border-radius: 40%;
  margin-right: 10px;
  margin-left: 100px;
  margin-top: 700px;
  color: gray;
}

.menuAppDwaRodzic {
  width: 680px;
  height: 550px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 30px;
  //display: flex;
  //flex-direction: row;
  //justify-content: space-between;
}

.menuAppDwaRodzic div {
  //margin-top: 60px;
  //text-decoration: none;
  //width: 30%;
  font-size: 2rem;
  color: black;
  border: 2px solid black;
  padding: 8px 22px;
  border-radius: 8px;
}

.menuAppDwa input {
  width: 680px;
  height: 30px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 15px;
}

.menuAppDwa textarea {
  width: 680px;
  height: 200px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 20px;
  justify-content: center;
}

.menuAppTrzy {
  width: 800px;
  height: 600px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
}

.backTrzy {
  font-size: 20px;
  color: white;
  border-radius: 30%;
  margin-right: 10px;
  margin-left: 40px;
  margin-top: 550px;
  color: gray;
}

.menuAppTrzyTree {
  width: 400px;
  height: 540px;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.sectionAppThreeRight {
  display: flex;
  flex-direction: column;
}

.menuAppTrzy p {
  //display: inline-block;
  color: #524f4f;
  padding-left: 70px;
  font-size: 1.4rem;
  //font-weight: 700;
}

.menuAppTrzy input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  padding: 30px;
  margin-top: 30px;
  font-size: 25px;
}

.sectionAppThreeRight button {
  width: 80px;
  height: 20px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  left: 150px;
  top: 15px;
}

//.sectionAppThreeRight :last-child {
//  height: 300px;
//  border-radius: 5px;
//  font-size: 40px;
//box-shadow: 0 0 0 1px rgba(1, 1, 1, 0.5);
//padding: 30px;
//margin-top: 30px;
//font-size: 25px;
//}


.menuAppHepl {
  width: 800px;
  height: 520px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  //padding: 30px;
  display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  //padding-right: 60px;
}

.menuAppHepl {
  background-image: url("../foto/duck.png");
}

.menuAppHepl p {
  font-size: 20px;
  color: white;
  border-radius: 30%;
  margin-right: 10px;
  margin-left: 400px;
  margin-top: 50px;
  font-size: 30px;
}

.backHelp {
  font-size: 20px;
  //color: white;
  border-radius: 40%;
  margin-right: 10px;
  margin-left: 100px;
  margin-top: 600px;
  color: gray;
}

